@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Inline+One&family=Comfortaa&family=Concert+One&family=Edu+VIC+WA+NT+Beginner:wght@600&family=Fira+Sans&family=Fredoka+One&family=Oleo+Script&family=PT+Sans&family=PT+Sans+Narrow&family=Permanent+Marker&family=Poppins&family=Raleway:wght@500&family=Righteous&family=Rubik+Maze&family=Source+Code+Pro&display=swap');

.screen{
  display: flex;
  /* height: auto; */
  width: 50%;
  margin: auto !important;
  justify-content: center;
  align-items: center;
  font-family: 'Source Code Pro', monospace !important;
  color: #61764B;
}

.container{
  width: 50%;
  margin: auto;
  text-align: center;
  justify-content: center;
  
}

.head{
  text-decoration: underline;
}

.firstIn{
  padding: 5px;
  margin-bottom: 20px;
  background-color: #829460;
  border-radius: 20px;
  font-weight: bold;
  color: black;
  text-align: center;
  font-family: 'Source Code Pro', monospace !important;
}

.secondIn{
  padding: 5px;
  margin-bottom: 20px;
  background-color: #829460;
  border-radius: 20px;
  font-weight: bold;
  color: black;
  text-align: center;
  font-family: 'Source Code Pro', monospace !important;
}

.answer{
  font-weight: bolder;
  font-size: larger;
}

.clicker{
  background-color: #61764B;
  padding: 10px;
  font-size: large;
  color: black;
  font-weight: bolder;
  font-family: 'Source Code Pro', monospace !important;
}
